{% extends "partials/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Login</h2>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <input class="form-control"{{ field }}>
                                {% if field.errors %}
                                    <div class="alert alert-danger mt-2">
                                        {% for error in field.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        <div class="text-center mt-3">
                            <a href="{% url 'cadastro' %}">Não possui uma conta? Cadastre-se</a>
                        </div>
                    </form>
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger mt-2">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
