body {
  background-color: #001b02;
  overflow-x: hidden;
}

.cabecario {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 700px;
  background-color: #001b02;
  height: 150px;
  width: 100%;
  z-index: 1000;
}

.dirs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.logo {
  position: relative;
  left: 20px;
  width: 100px;
}

.carrinho_mesage {
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
}

.login_carrinho {
  position: relative;
  right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .cabecario {
    flex-direction: column;
    height: auto;
  }
  .dirs, .login, .carrinho {
    margin-top: 10px;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
  .dirs, .login, .carrinho {
    text-align: center;
  }
}
